<!--index.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h4 class="page-header">
      Search Query :
      <small>{{ .s_query }}</small>
    </h4>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="alert alert-danger" role="alert">
      No results found
    </div>
  </div>
</div>

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}
